/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* 
    1.Lam tu ngoai vao trong
    2.Lam tu tren xuong duoi 
    3.Tong quan tu tren xuong duoi*/
    /*
    1.Vi tri
    2.Kich thuoc (width hight)
    3.Mau sac
    4.Kieu dang */
}
html {
    font-family: Arial, Helvetica, sans-serif;
}
.col1 {
    padding-top: 40px;
    text-align: center;
}
.clear {
     clear: both;   
}
.text-while {
    color: #fff !important;
}
.text-black {
    color: #000;
}
#main {
}
#header {
    height: 52px;
    background-color: black;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
}
#nav {
    display: inline-block;
}
#nav , .subnav1, .subnav2, .subnav3 {
    list-style-type: none;
}
#nav > li {
    display: inline-block;
    left: 40%;
}
#nav li {
    position: relative;
}
#nav > li > a {
    color: #fff;
    text-transform: uppercase;  
}
#nav li a {
    text-decoration: none;
    line-height: 52px;
    padding: 0 24px;
    display: inline-block;
}
#nav .nav-arrow-down {
    font-size: 14px;

}
#nav li:hover .subnav1{
    display: block;
}
#nav li:hover .subnav2{
    display: block;
}
#nav li:hover .subnav3{
    display: block;
}
#nav > li:hover > a {
    color: black;
    background-color: #ccc;
}
#nav .subnav1 {
    display: none;
    position: absolute;
    background-color: #fff;
    line-height: 52px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#nav .subnav1 a {
    color: black;
    padding: 0 18px;
    line-height: 50px;
    min-width: 170px;
}
#nav .subnav1 li:hover {
    color: black;
    background-color: #ccc;
}
#nav .subnav2 {
    display: none;
    position: absolute;
    top: 100%;
    min-width: 160px;
    left: 0;
    background-color: #fff;
    line-height: 52px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#nav .subnav2 a {
    color: black;
    padding: 0 18px;
    line-height: 30px;
    min-width: 170px;
}
#nav .subnav2 li:hover {
    color: black;
    background-color: #ccc;
}
#nav .subnav3 {
    display: none;
    position: absolute;
    background-color: #fff;
    line-height: 52px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}
#nav .subnav3 a {
    color: black;
    padding: 0 18px;
    line-height: 30px;
    min-width: 170px;
}
#nav .subnav3 li:hover {
    color: black;
    background-color: #ccc;
}
#header .search-btn {
    float: right;
}
#header .search-btn:hover {
    background-color: red;
    cursor: grab;
}
#header .search-icon {
    color: #fff;
    font-size: 18px;
    line-height: 52px;
    padding: 0 20px;
}
#slider {
    width: 100%;
    margin-top: 52px;
    padding-top: 50%; 
    background: url('/assets/img/slider/slider1/Audi-R8-HD-Image.jpg') top center / cover no-repeat;
}
#slider .text-content {
    font-size: 22px;
    line-height: 46px;
    color: #fff;
    bottom: 2px; 
    position: absolute;
    top: 94%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
#slider .text-heading {
   font-size: 36px;
}
#slider .text-description {
    padding-top: 10px;
    font-size: 16px;
}
#content {
 height: 1000px;
 right: 0;
}
#content .h2 {
    right: 50%;
}
#content .content-section {
    padding: 20px 0; 
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 120px;

}
#content .section-heading {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 700;
    opacity: 0.8;
    padding-top: 100px;
}
#content .section-sub-heading { 
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.7;
}
#content .about-text {
    font-size: 15px;
    margin-top: 25px;
    text-align: justify;
    line-height: 1.7;
}
#content .member-item {
    float: right;
    padding-top: 100px;
    width: calc(100% / 4);
    padding-left: 16px;
    color: black;
    text-decoration: underline;
}
#content .member-name {
    font-size: 18px;
    text-align: center;
    padding-bottom: 6px;  
}
#content .member-list {
    overflow: hidden;
}
#content .member-img {
    width: 200px;
    margin-top: 10px;
    padding-left: 2px;
    border-radius: 4px;
    display: flex;
}
.tour-section {
    background-color: #000;
    height: 900px;
}
.products-list {
    background-color: #fff;
    margin-top: 40px;
    list-style: none;
    margin-left: 360px;
    margin-right: 360px;
}
.products-list li {
    color: #757575;
    font-size: 16px;
    padding: 10px 16px;
    border-bottom: 1px solid #ddd;
    margin-left: 6px;
}
.products-list .Out-of-stock {
    background-color: red;
    color: #fff;
    padding: 3px 4px;
    margin-left: 20px;

}
.products-list .quantity {
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    line-height: 24px;
    text-align: center;
    padding-top: -3px;
    margin-top: -3px;
}
/* Shopping */
.shopping-list {
    margin-top: 32px;
    padding-left: 300px;
}
.shopping-item1 {
    padding-left: 60px;
    float: left;
    width: 275px;
}
.shopping-item2 {
    padding-left: 60px;
    float: left;
    width: 275px;
    }
.shopping-item3 {
    padding-left: 60px;
    float: left;
    width: 275px;
}
.shopping-img{
    display: block;
}
.shopping-body {
    background-color: #fff;
    width: 245px;
    padding: 16px;
    font-size: 15px;
}
.shopping-heading {
    font-size: 15px;
    font-weight: 700;
}
.shopping-price {
   margin-top: 15px;
   color: red;
}
.shopping-desc {
   margin-top: 15px;
   color: #6d6c6c;
   line-height: 1.4;
}
.shopping-by-btn {
   color: #fff;
   background-color: #000;
   text-decoration: none;
   padding: 11px 13px;
   display: inline-block;
   margin-top: 25px;
} 
.shopping-by-btn:hover {
    color: black;
    background-color: #ccc;
}
#footer {

}
.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
}
.modal.open {
    display: flex;
}
.modal-container {
    background: #fff;
    width: 900px;
    min-height: 400px;
    position: relative;
    max-width: calc(100% - 32px);
    animation: modalFadeIn ease 0.5s ;
}
header.modal-header {
    background: #23887e;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
    letter-spacing: 1px;
}
.modal-heading-icon {
    margin-right: 16px;
    margin-bottom: 4px;
}
.modal-close {
    position: absolute;
    right: 0;
    padding: 16px;
    color: #fff;
    cursor: pointer;
    opacity: 0.8;
    margin-left: 4px;
}
.modal-close:hover {
    color: #000;
    background-color: #ccc;
}
.modal-body {
    padding: 18px;
}
.modal-label {
    display: block;
    font-size: 16px;
    margin-bottom: 14px;
}
.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}
button.by-now {
    background: #23887e;
    width: 100%;
    height: 50px;
    font-size: 16px;
    color: #fff;
    font-weight: 550;
    text-transform: uppercase;
    cursor: pointer;
    border-style: none;
}
.by-now:hover {
    opacity: 0.8;
}
.modal-footer {
    padding-right: 16px;
    padding-top: 20px;
    padding-bottom: 30px;
}
.modal-footer a {
    color: #2497f4;
}
.modal-footer p {
    text-align: right;
}
@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-120px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}






